<div class="content-option">
    <div class="option">Datos <img src="../../../assets/img/action-bar/arrow-right.png" alt="" class="arrow-right"></div>
    <div class="option">Cambiar Contraseña <img src="../../../assets/img/action-bar/arrow-right.png" alt="" class="arrow-right"></div>
    <div class="option">Cambiar Correo <img src="../../../assets/img/action-bar/arrow-right.png" alt="" class="arrow-right"></div>
    <div class="option">Solicitar asociado <img src="../../../assets/img/action-bar/arrow-right.png" alt="" class="arrow-right"></div>
    <div class="option">Información de vivienda <img src="../../../assets/img/action-bar/arrow-right.png" alt="" class="arrow-right"></div>
    <div class="option">Cuartos <img src="../../../assets/img/action-bar/arrow-right.png" alt="" class="arrow-right"></div>
</div>