<app-header></app-header>
<div class="contenedor">
        <div class="menu">
                <div class="menu-item header">
                    <i class="fas fa-user icon"></i> Datos personales
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <a href="#" class="menu-item datos">
                    Text
                    <i class="fas fa-chevron-right arrow"></i>
                </a>
                <a href="#" class="menu-item correo">
                    Text
                    <i class="fas fa-chevron-right arrow"></i>
                </a>
                <a href="#" class="menu-item partner">
                    Text
                    <i class="fas fa-chevron-right arrow"></i>
                </a>
                <a href="#" class="menu-item text1">
                    Text
                    <i class="fas fa-chevron-right arrow"></i>
                </a>
                <a href="#" class="menu-item text2">
                    Text
                    <i class="fas fa-chevron-right arrow"></i>
                </a>
            </div>
        <div class="router-outlet">
                <router-outlet></router-outlet>
        </div>
</div>
<app-footer></app-footer>