.router-outlet{
    margin-top: 25px;
    width: 100%;
}
.contenedor {
    min-height: 100vh;
    display: flex;
}

.menu {
    margin: 20px;
    width: 200px;
    height: 340px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-header {
    background-color: #1a1a2e; /* Color oscuro */
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.icon {
    margin-right: 5px;
}

.arrow {
    font-size: 14px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin-bottom: 5px;
    text-align: left;
    position: relative;
}

.item-arrow {
    font-size: 12px;
    color: #999;
}

.menu-item:hover {
    background-color: rgba(1, 11, 26, 1);
    color: #fff;
}