<div class="container-solicitud">
    <div class="container-solicitud-text">
        <h2>Enviar solicitud para ser Partner</h2>
        <p>Envíanos todos tus datos para poder empezar con este proceso para convertirte en nuestro asociado</p>
        <form class="container-solicitud-text-form">
            <input type="text" placeholder="Nombre" required>
            <input type="text" placeholder="Apellido paterno" required>
            <input type="text" placeholder="Apellido materno" required>
            <div class="container-solicitud-text-input-group">
                <input type="tel" placeholder="Teléfono" required>
                <input type="text" placeholder="DNI" required>
            </div>
            <button type="submit">Solicitar</button>
        </form>
        <p class="container-solicitud-text-note">
            Nota: Para validar que es el propietario real, necesitamos una comprobación facial de usted. Cuando le dé a enviar, se le mostrará un código para escanear su rostro a través del celular.
        </p>
    </div>

    <!-- Sección de Pasos -->
    <div class="container-solicitud-second-container">
        <span>Conviértase en Partner en unos 5 pasos.</span>
        <ol class="container-solicitud-second-container-list">
            <li>Rellene los datos</li>
            <li>Escanee su rostro</li>
            <li>Espere a que se  <br> comuniquen con usted</li>
            <li>Pase por la inspección</li>
            <li>¡Felicidades, ya eres Partner!</li>
        </ol>
        <img src="../../../assets/img/Detective.png" alt="Detective" class="container-solicitud-second-container-detective">
    </div>
</div>