<div class="direction">
    <a href="/home" style="font-style: none; text-decoration: none; color: #000;">
        > Home 
    </a>
</div>
<section class="content__information">
    <div class="content__img">
        <article class="content__user">
            <div class="user--information">
                <img src="../../../assets/img/example-deparment/example-deparment-1.webp" alt=""
                    class="user--img">Olimpio Suarez Martinez
            </div>
            <div class="information--room">
                <div class="room--price">
                    <p>S/ {{inmueble.precio}}</p>
                    <div class="period">Por mes</div>
                    <div style="display: flex;">
                        <i class="fa-solid fa-location-dot fs-5" style="color: #ff0000;"></i>
                        <p class="address">
                            {{inmueble.edificio.direccion}}
                        </p>
                    </div>
                </div>
                <div class="room--disponibility">
                    <div class="disponibility"
                        [style]="{'background-color': inmueble.disponibilidad ? '#77d604' : 'red'}">
                        {{ inmueble.disponibilidad ? 'Disponible' : 'No disponible' }}
                    </div>
                </div>
            </div>
            <div>
                <p class="descripcion">
                    <i class="fa-solid fa-database"></i>
                    Descripción:
                </p>
                <div class="divisor"></div>
                <p class="information--descripcion">
                    {{inmueble.descripcion}}
                </p>
            </div>
        </article>
        <div class="img__main"></div>
    </div>
    <div class="see-room">
        <i class="fa-solid fa-house fs-5"></i>
        <a class="see-house">Ver casa</a>
    </div>
    <div class="content" style="display: flex; gap: 20px;">
        <div class="class1">
            <div class="content__details">
                <div class="details--header">
                    <i class="fa-solid fa-location-crosshairs fs-5" style="  transform: rotate(45deg);"></i>
                    Especificaciones
                </div>
                <div class="details--infomation">

                </div>
            </div>
            <div class="content__details">
                <div class="details--header">
                    <i class="fa-solid fa-book fs-5"></i>
                    Reglas de casa
                </div>
                <div class="details--infomation">
                    {{inmueble.edificio.regla_casa}}
                </div>
            </div>
            <div class="content__details">
                <div class="details--header">
                    <i class="fa-regular fa-map fs-5"></i>
                    Dirección
                </div>
                <div class="details--infomation information--modified"
                    style="display: flex; flex-direction: column; gap: px;">
                    <span>
                        <i class="fa-solid fa-location-dot"></i>
                        {{inmueble.edificio.direccion}}
                    </span>
                    <span>
                        <i class="fa-solid fa-location-dot"></i>URL:
                        <a target="_blank" href="{{inmueble.edificio.url_map}}">
                            {{inmueble.edificio.url_map}}
                        </a>
                    </span>
                </div>
            </div>
            <div class="content__details">
                <div class="details--header">
                    <i class="fa-regular fa-circle-user fs-5"></i>
                    Contacto
                </div>
                <div class="details--infomation information--modified">
                    <span style="display: flex; justify-content: space-between; align-items: center; margin: 6px 0;">
                        <p style="margin: 0;">
                            <i class="fa-solid fa-phone"></i>
                            +<a href="https://wa.me/{{inmueble.edificio.partner.telefono_empresa}}" target="_blank" style="text-decoration: none; color: #000;">
                                {{inmueble.edificio.partner.telefono_empresa}}
                            </a>
                        </p>
                        <a href="https://wa.me/{{inmueble.edificio.partner.telefono_empresa}}" target="_blank" style="text-decoration: none; color: #000">
                        <img src="../../../assets/img/icons/Whatsapp.svg" alt="" style="height: 32px;">
                        </a>
                    </span>
                    <span style="display: flex; justify-content: space-between; align-items: center; margin: 6px 0;">
                        <p style="margin: 0;">
                            <i class="fa-regular fa-envelope"></i> 
                            <a href="mailto:{{inmueble.edificio.partner.correo_empresa}}" style="text-decoration: none; color: #000;">
                                {{inmueble.edificio.partner.correo_empresa}}
                            </a>
                        </p>
                        <img src="../../../assets/img/icons/Correo.svg" alt="" style="height: 32px;">
                    </span>
                </div>
            </div>
        </div>
        <div class="class2">
            <div class="content__details">
                <div class="details--header">
                    <i class="fa-solid fa-bars fs-5"></i>
                    Servicios
                </div>
                <table>
                    <tr>
                      <td>Luz:</td>
                      <td>{{servicio.luz || 'No especificado'}}</td>
                    </tr>
                    <tr>
                      <td>Agua:</td>
                      <td>{{servicio.agua || 'No especificado'}}</td>
                    </tr>
                    <tr>
                      <td>Lavandería:</td>
                      <td>{{servicio.lavanderia || 'No especificado'}}</td>
                    </tr>
                    <tr>
                        <td>Wifi:</td>
                        <td>{{servicio.wifi || 'No especificado'}} </td>
                    </tr>
                    <tr>
                        <td>Cable:</td>
                        <td>{{servicio.cable || 'No especificado'}} </td>
                    </tr>
                    <tr>
                        <td>Garaje:</td>
                        <td>{{servicio.garaje || 'No especificado'}} </td>
                    </tr>
                    <tr>
                        <td>Almacén:</td>
                        <td>{{servicio.almacen || 'No especificado'}} </td>
                    </tr>
                    <tr>
                        <td>Seguridad:</td>
                        <td>{{servicio.seguridad || 'No especificado'}} </td>
                    </tr>
                    <tr>
                        <td>Calefacción:</td>
                        <td>{{servicio.calefaccion || 'No especificado'}} </td>
                    </tr>
                    <tr>
                        <td>Limpieza:</td>
                        <td>{{servicio.limpieza || 'No especificado'}} </td>
                    </tr>
                    <tr>
                        <td>Pensión:</td>
                        <td>{{servicio.pension || 'No especificado'}} </td>
                    </tr>
                  </table>
                  
            </div>
        </div>
    </div>
    <footer>
        <div class="footer__room">
            <i class="fa-solid fa-bag-shopping"></i> <a class="see-house">Cuartos similares:</a>
        </div>
        <div class="rooms-similar">
            <!-- @for (inmueble of inmuebles; track $index) {
                <div>
                    <app-department-card [inmueble]="inmueble" class="carousel__item"></app-department-card>
                </div>
            } -->
        </div>
    </footer>
</section>