<div class="direction">
    > Direction
</div>

<!--  -->

<section class="content__information">
    <div class="content__img">
        <article class="content__user">
        </article>
        <div class="img__main"></div>
    </div>
    <div class="see-room">
        
    </div>
    <div class="content__details">

    </div>
    <img src="../../../assets/img/Frame 2334.png" alt="" class="servicios">

</section>
<!-- <div class="see-room">Ver casa</div> -->
<header>
    <div class="header__room">
    </div>
    <div class="rooms-similar">
    </div>
</header>