.direction {
    width: 99%;
    height: 40px;
    padding: 5px;
    margin: auto;
    margin-top: 8px;
    border-radius: 12px;
    box-shadow: 0 0 0 .5px #ccc;
    box-sizing: border-box;
}

.content__information {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

.content__img {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.content__user {
    position: absolute;
    left: 20px;
    padding: 16px;
    background-color: #fff;
    max-width:750px;
    height: 400px;
    box-shadow: 0 0 16px 0 #77d604;
    border-radius: 12px;
}

.user--information{
    height: 60px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 900;
}

.user--img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.information--room{
    display: flex;
    justify-content: space-between;
}

.room--price{
    position: relative;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 120px;
    width: 50%;
    font-family: 'Abhaya Libre';
    font-size: 64px;
    font-weight: 900;
}

.period{
    margin: 50px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4a4a;
    border-radius: 12px;
    height: 30px;
    min-width: 80px;
    font-family: 'Kadwa';
    font-size: 14px;
    color: #fff;
}

p{
    margin: 0;
}

.address{
    margin: 0 8px;
    font-family: 'Inter';
    font-size: 16px;
    text-decoration: underline;
}

.room--disponibility{
    min-height: 120px;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
}

.disponibility{
    /* background-color: #77d604; */
    height: 40px;
    width: 140px;
    display: flex;
    border-radius: 12px;
    align-items: center;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 900;
    justify-content: center;
    color: #fff;
}

.descripcion{
    margin: 4px 0;
    font-size: 20px;
}

.information--descripcion{
    margin-top: 4px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
}

.img__main {
    position: relative;
    z-index: -10;
    right: 20px;
    background-image: url("../../../assets/img/example-deparment/example-deparment-1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 560px;
    border-radius: 12px;
}

.see-room {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #ededed;
    height: 70px;
    border-radius: 12px;
    gap: 10px;
}

.see-house {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 20px;
    color: #000;
}

.class1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.class2 {
    width: 50%;
}

.details--header {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 900;
    display: flex;
    padding: 8px;
    gap: 4px;
    align-items: center;
    min-width: 100%;
    height: 56px;
    border-radius: 12px;
    background-color: #f8aa02;
}

.details--infomation {
    padding: 4px 0;
    /* background-color: red; */
}


button {
    border: none;
    background-color: transparent;
}

h2 {
    margin: 28px 8px 16px 8px;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 600
}

.divisor {
    width: 100%;
    height: 1px;
    background-color: #000;
}

table {
    margin: 8px;
    margin-top: 16px;
    font-size: 16px;
    width: 100%;
}
  

td {
    font-family: 'Inter';
    padding: 16px;
    font-weight: 900;
}

td:nth-child(1) {
    height: 20px;
    width: 160px;
}

td:nth-child(2) {
    color: #666666;
}

table tr:nth-child(odd) {
    background-color: #f0f0f0;
}

table tr:nth-child(even) {
    background-color: #fff;
}

.elements__appreciate {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.starts {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f4f4f4;
    width: 140px;
    height: 100px;
    padding: 8px;
    box-sizing: border-box;
}

.start__calification {
    font-family: 'Inter';
    color: #fff;
    font-size: 48px;
    font-weight: 900;
}


.user {
    display: flex;
    border-radius: 12px;
    align-items: center;
}

.user__img {
    border-radius: 100%;
    height: 52px;
    width: 52px;
}

.user__name {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-left: 16px;
}

.icon {
    display: flex;
}

.footer__room{
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 8px;
    height: 60px;
}

.rooms-similar {
    background-color: blue;
    padding: 5px;
}

.servicios {
    width: 100%;
}

.carousel__item{
    background-color: red;
    margin: 20px;
    max-width: 200px;
    height: 280px;
}

i{
    margin: 0 4px;
}