<div class="container-datos">
    <div class="text-header-datos">
        <i class="fas fa-database icono"></i> 
        <h1 class="text-datos datos">Datos</h1>
    </div>
    <h3 class="text-datos personal">Personal</h3>
    <span class="descripcion">Complete con sus datos personales</span>
    
    <div class="input-datos">
        <label for="nombre" class="text-datos nombre">Nombre</label>
        <input type="text" placeholder="Pepito" id="nombre" class="ipt nombre">
        
        <label for="apellidoP" class="text-datos apellidoP">Apellido Paterno</label>
        <input type="text" placeholder="Apellido paterno" id="apellidoP" class="ipt apellidoP">
        
        <label for="apellidoM" class="text-datos apellidoM">Apellido Materno</label>
        <input type="text" placeholder="Apellido materno" id="apellidoM" class="ipt apellidoM">
    </div>
    
    <h3 class="text-datos personal">Contacto</h3>
    <span class="descripcion">Estos datos son para que podamos enviarte información, ofertas y solicites ser un socio.</span>
    
    <div class="input-datos">
        <label for="correo" class="text-datos email">Email</label>
        <input type="email" placeholder="correo@gmail.com" id="correo" class="ipt correo">
        
        <div class="input-datos-correo">
            <input type="number" placeholder="+ 51" id="codigo" class="ipt number">
            <input type="tel" placeholder="Teléfono" id="telefono" class="ipt telefono">
        </div>
    </div>
    
    <button class="datos-button guardar">Guardar cambios</button>
</div>