.card {
    padding: 16px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card__image {
    position: relative;
    height: 250px;
    width: 100%;
    background-image: url('/assets/img/example-deparment/example-deparment-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.icon__love {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon__love.i-love svg {
    filter: drop-shadow(0px 0px 2px #ff0000);
    -webkit-filter: drop-shadow(0px 0px 2px #ff0000);
}

.icon__love.i-love path {
    fill: red;
}

.card__body {
    margin-top: 10px;
}

.card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.profile {
    display: flex;
    gap: 8px;
    align-items: center;
}

.profile__name {
    max-width: 90px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.avatar {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #02005f;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

.avatar__img {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}

.avatar__letter {
    color: white;
    font-weight: 700;
}

.valuate {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon__start {
    display: flex;
    align-items: center;
}

.card__description {
    color: #303030B2;
    margin: 0;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: 700;
}

.status {
    padding: 4px 12px;
    text-transform: uppercase;
    background-color: #7FCC21;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}