<header>
  <nav class="container">
    <div class="logo">
      <img src="../../../assets/photos/onlyLogo.png" alt="">
      <span class="logoStay">STAY</span>
    </div>
    <div class="options">
      <ul>
        <li>
          <i class="bi bi-heart fs-3"></i>
        </li>
        <li>
          <i class="bi bi-bell fs-3"></i>
        </li>
        <a href="/action-bar">
          <li>
            <i class="bi bi-columns-gap fs-3"></i>
          </li>
        </a>
        <li>
          <i class="bi bi-person-circle fs-3"></i>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="space-required"></div>