<section class="content">
    <span class="title">Información de la vivienda</span>
    
    <!-- Campo para seleccionar la imagen -->
    <div class="foto">
        <input type="file" (change)="onFileSelected($event)" />
    </div>
    <span style="display: flex; gap: 4px; align-items: center;">
        <i class="fa-solid fa-database"></i>
        <h2 class="title" style="margin: 0;">Foto</h2>
    </span>

    <!-- Previsualización de la imagen seleccionada -->
    <div *ngIf="imagenPrevisualizacion" class="preview">
        <img [src]="imagenPrevisualizacion" alt="Previsualización de la imagen" width="60" height="60" />
    </div>
    
    <!-- Campo para Dirección -->
    <h2 class="atributes">Dirección:</h2>
    <input type="text" class="input" placeholder="Ingrese la dirección" [(ngModel)]="edificio.direccion" name="direccion">

    <!-- Campo para N° de Pisos y Zona -->
    <div style="display: flex; gap: 4px; width: 100%;">
        <div style="display: flex; flex-direction: column; width: 50%;">
            <h2 class="atributes">N° Pisos:</h2>
            <input type="number" class="input1" placeholder="N° Pisos" [(ngModel)]="edificio.npisos" name="npisos">
        </div>
        <div style="display: flex; flex-direction: column; width: 100%">
            <h2 class="atributes">Zona:</h2>
            <select [(ngModel)]="edificio.zona" name="zona" class="input2">
                <option *ngFor="let z of zonas" [ngValue]="z">{{ z.nombreZona }}</option>
            </select>
            <p>Zona seleccionada: {{ edificio | json }}</p>

        </div>
    </div>
    
    <!-- Campo para Referencia de Edificio -->
    <h2 class="atributes">Referencia de edificio:</h2>
    <input type="text" class="input" placeholder="Ingrese ref." [(ngModel)]="edificio.referenciaEdificio" name="referenciaEdificio">
    
    <!-- Campo para Reglas de la Casa -->
    <h2 class="atributes">Reglas de la casa:</h2>
    <input type="text" class="rule__casa" placeholder="Reglas de casa" [(ngModel)]="edificio.regla_casa" name="reglaCasa">
    
    <!-- Campo para Link de Google Maps -->
    <h2 class="atributes">Link Google Maps:</h2>
    <input type="text" class="input" placeholder="Ingrese Link" [(ngModel)]="edificio.urlMap" name="urlMap">

    <!-- Botón para guardar los cambios -->
    <button (click)="guardarEdificio()">Guardar cambios</button>
</section>
