<div class="contenido">
  <app-offer></app-offer>
  <section class="room">
    <h1>Alquiler de habitaciones en Ñaña</h1>
    <p>Alquila una habitación en lima desde baratas y exclusivas, múdate a un sitio mejor</p>
    <input list="room" name="room" type="text" class="room__search" placeholder="Busca un cuarto">
    <datalist id="room">
      <option value="Cuarto 1">Cuarto 1</option>
    </datalist>
    <button class="button__search">Buscar</button>
  </section>
  <div class="content">
    <div class="content__filter">
    </div>
    <div class="content__room">
      <div class="room__filter">
        <p class="room--order">Ordenar por:</p>
        <p>Recomendados <img src="../../../assets/img/main/arrow-down-2.png" class="arrow-down-2" alt=""></p>
      </div>
      <div class="rooms">
      </div>
      <div class="paginator">
      </div>
    </div>
  </div>
  <footer>
    <div class="footer__content">
      <h1 class="footer__title">
        <p style="font-size: inherit; font-weight: 600;">Conviertete</p> en unos de nuestros asociados
      </h1>
      <p style="font-size: 16px; font-weight: 100;">
        Conviértete en nuestro partner y accede a una amplia gama de beneficios exclusivos. Publica y promociona
        nuestros servicios de alquiler de habitaciones y departamentos y sé parte de una alianza estratégica que impulsará tus
        servicios de alojamiento
      </p>
      <button class="button__solicitar">Solicitar</button>
    </div>
    <img class="persona-modelo" src="../../../assets/img/main/persona-modelo.png" alt="">
  </footer>
</div>