.room {
  background-image: url('../../../assets/photos/habitaciones.png');
  width: 100%;
  height: 230px;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  margin: 16px 0;
  font-family: 'Public Sans Variable';
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
}

p {
  font-family: 'Public Sans Variable';
  font-size: 20px;
  font-weight: 300;
}

.partner__search {
  width: 60%;
  height: 46px;
  padding: 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #dbdcd4;
}

.icon__search{
  position: relative;
  right: 40px;
  height: 30px;
  width: 30px;
  top:-5px;
}

.button__search {
  color: #fff;
  margin-left: 12px;
  height: 46px;
  width: 200px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to top, #e9831b, #ee621e);
}

.content {
  width: 100%;
  min-height: 800px;
  background-color: #e9e9e9;
  display: flex;
}

.content__filter {
  width: 360px;
  padding: 8px;
  background-color: #e16b15;
  margin-right: 12px;
  box-sizing: border-box;
}

.content__room {
  width: 100%;
  background-color: red;
}

.room__filter{
  height: 68px;
}

.rooms {
  width: 98%;
  padding: 4px;
  margin: auto;
  margin: 12px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 #cdcdcd;
}

.room--order {
  color: #808080;
  font-family: kadwa;
  font-size: 12px;
  margin: 10px 0 4px 20px;
}

.arrow-down {
  float: inline-end;
  padding: 6px 0;
  padding-right: 4px;
}

.rooms{
  min-height: 500px;
  background-color: green;
}

.paginator{
  width: 98%;
  min-height: 80px;
  margin: auto;
  border-radius: 12px;
  background-color: blue;
}

footer {
  color: #fff;
  background-image: url('../../../assets/img/main/fondo-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
}

.footer__content {
  padding: 120px 0 0 40px;
}

.footer__title {
  font-size: 52px;
  font-weight: 100;
}

.button__solicitar {
  background-color: #e16b15;
  color: inherit;
  width: 160px;
  height: 44px;
  padding: 4px;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
}

.persona-modelo {
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.main-container {
  margin: auto;
  margin-top: 10px;
  width: 98%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 20px;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.title {
  font-size: 12px;
  color: #aaa;
}

.search-select {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.search-select select {
  border: none;
  background: none;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  width: 180px;
}

.container-pagination {
  display: flex;
  align-items: center;
  gap: 4px; 
}

.container-pagination span {
  padding: 4px 8px;
  cursor: pointer;
  border: none;
  width: 12px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-pagination .disabled {
  color: #aaa;
  cursor: not-allowed;
}

.container-pagination span:hover:not(.disabled) {
  background-color: #757575;
  border-radius: 100%;
  width: 12px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}