<div class="contenido">
  <app-offer></app-offer>
  <section class="room">
    <h1>ADS</h1>
    <p>Alquila una habitación en lima desde baratas y exclusivas, múdate a un sitio mejor</p>
    <div class="search-container">
      <input list="room" name="room" type="text" class="partner__search" placeholder="Busca partner">
      <img src="../../../assets/img/icons/ICONS2.svg" alt="" class="icon__search">
      <datalist id="room">
        <!-- <option value="{{partner.correo_empresa}}">{{partner.correo_empresa}}</option> -->
      </datalist>
    </div>
  </section>
  <div class="content">
    <div class="content__filter">
    </div>
    <div class="content__room">
      <div class="main-container">
          <span class="title">Título</span>
          <div class="search-select">
            <select>
              <option>Seleccionar</option>
            </select>
              Lista de cuartos
              <span>
                1....
              </span>
          </div>
      </div>
      <div class="rooms">
        @for (inmueble of inmuebles; track $index){
        <div class="carousel__item">
          <app-department-card [inmueble]="inmueble"></app-department-card>
        </div>
        }
      </div>
      <div class="paginator">
      </div>
    </div>
  </div>
  <footer>
    <div class="footer__content">
      <h1 class="footer__title">
        <p style="font-size: inherit; font-weight: 600;">Conviertete</p> en unos de nuestros asociados
      </h1>
      <p style="font-size: 16px; font-weight: 100;">
        Conviértete en nuestro partner y accede a una amplia gama de beneficios exclusivos. Publica y promociona
        nuestros servicios de alquiler de habitaciones y departamentos y sé parte de una alianza estratégica que
        impulsará tus
        servicios de alojamiento
      </p>
      <button class="button__solicitar">Solicitar</button>
    </div>
    <img class="persona-modelo" src="../../../assets/img/main/persona-modelo.png" alt="">
  </footer>
</div>