<div class="contenido">
  <app-offer></app-offer>
  <div class="habitation">
    <h1>Alquiler de habitaciones en Ñaña</h1>
    <p>Alquila una habitación en lima desde baratas y exclusivas, múdate a un sitio mejor</p>
    <input type="text" class="input-search" placeholder="Busca un cuarto">
    <button class="search">Buscar</button>
  </div>
  <div class="content">
    <div class="content-filter">
      <p class="result">Resultados (N)</p>
      <div class="divisor"></div>
      <h2>Filtros</h2>
      <div class="filter">Tipo: <img src="../../../assets/img/main/arrow-down.png" class="arrow-down" alt=""></div>
      <div class="filter">Zona: <img src="../../../assets/img/main/arrow-down.png" class="arrow-down" alt=""></div>
    </div>
    <div class="content-cuarto">
      <p class="order-by">Ordenar por:</p>
      <div class="filter-order-by">Recomendados <img src="../../../assets/img/main/arrow-down-2.png" class="arrow-down-2" alt=""></div>
    </div>
  </div>
</div>
