<div class="container-datos">
    <div class="text-header-datos">
        <i class="fa-solid fa-paste"></i>
        <h1 class="text-datos datos">Cambiar Contraseña</h1>
    </div>
    <span class="descripcion">Ingresa un correo electrónico válido y al que tengas acceso, ya que este será tu nuevo correo para iniciar sesión. Nota: Solo podrás cambiar el correo nuevamente después de 30 días.</span>
    
    <div class="input-datos">
        <input type="text" placeholder="correo@example.com" id="nombre" class="ipt correo">
        <input type="text" placeholder="Ingrese contraseña actual" id="apellidoP" class="ipt contraseña">
        <input type="text" placeholder="Confirme contraseña actual" id="apellidoM" class="ipt contraseña">
    </div>  
    <button class="datos-button guardar">Guardar cambios</button>
</div>