<div class="container-cuartos">
    <div class="cuartos-infad">
        <h1>Cuartos</h1>
        <button class="disponible-btn">Disponible</button>
    </div>
    <div class="cuartos-disponible">
        <span class="cuartos-span">Información adicional:</span>
        <button class="cuartos-add">Subir foto</button>
    </div>
    <div class="cuartos-image">
        <!-- Aquí se mostrará la lógica de las imágenes cargadas -->
    </div>
    <div class="bettwen">
        <div class="cuartos-crt">
            <span class="cuartos-span">Nº Cuarto:</span>
            <select name="numero_cuartos" id="numero_cuartos">
                <option>Seleccionar</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="cuartos-prd">
            <span class="cuartos-span">Periodo</span>
            <select name="periodo" id="periodo">
                <option>Seleccionar</option>
                <option value="mensual">Mensual</option>
                <option value="anual">Anual</option>
            </select>
        </div>
        <div class="cuartos-prc">
            <span class="cuartos-span">Precio</span>
            <select name="precio" id="precio">
                <option>Escriba Aqui</option>
            </select>
        </div>
    </div>
    <div class="cuartos-servicios">
        <span class="cuartos-span">Servicios:</span>
        <button class="cuartos-add">Agregar</button>
        <!-- Aqui se mostrara la logica de Servicios -->
    </div>
    <div class="cuartos-inf">
        <label for="inf">Información adicional</label>
        <textarea rows="8" placeholder="Escriba aquí"></textarea>
        <div class="cuartos-btn">
            <button type="button" class="btn btn-bold">B</button>
            <button type="button" class="btn btn-italic">I</button>
            <button type="button" class="btn btn-underline">U</button>
        </div>
    </div>
    <button type="submit" class="save-btn">Guardar cambios</button>
</div>