<div class="container-cuartos">
    <div class="cuartos-infad">
        <h1>Cuartos</h1>
        <button class="disponible-btn" (click)="changedisponibilyty()"
            [style]="{'background-color': inmueble.disponibilidad ? '#77d604': 'red' }">{{inmueble.disponibilidad ? 'Dipsonible': 'No disponible'}}</button>
    </div>
    <div class="cuartos-disponible">
        <span class="cuartos-span">Información adicional:</span>
        <label class="cuartos-add" for="file-upload">Subir foto</label>
        <input id="file-upload" type="file" style="display: none;" [(ngModel)]="inmueble.imagen" (change)="onFileSelected($event)">
    </div>
    <div *ngIf="imagenPrevisualizacion" class="preview">
        <i class="fa-solid fa-xmark x"></i>
        <img [src]="imagenPrevisualizacion" alt="Previsualización de la imagen" width="60" height="60" />
    </div>
    <div class="cuartos-disponible" style="justify-content: end;">
        <label class="cuartos-add" for="file-upload2">Subir foto</label>
        <input id="file-upload2" type="file" style="display: none;" [(ngModel)]="inmueble.imagen2" (change)="onFileSelected2($event)">
    </div>
    <div *ngIf="imagenPrevisualizacion2" class="preview2">
        <i class="fa-solid fa-xmark x"></i>
        <img [src]="imagenPrevisualizacion2" alt="Previsualización de la imagen" width="60" height="60" />
    </div>
    <div class="cuartos-image">
        
    </div>
    <div class="bettwen">
        <div class="cuartos-crt">
            <label class="cuartos-span">Nº Cuarto:</label>
            <input type="number" [(ngModel)]="inmueble.n_cuarto" name="n_cuarto">
        </div>
        <div class="cuartos-prd">
            <span class="cuartos-span">Periodo</span>
            <select name="periodo" id="periodo">
                <option>Seleccionar</option>
                <option value="mensual">Mensual</option>
                <option value="anual">Anual</option>
            </select>
        </div>
        <div class="cuartos-prc">
            <label class="cuartos-span">Precio</label>
            <input type="number" [(ngModel)]="inmueble.precio" name="precio">
        </div>
    </div>
    <div class="cuartos-servicios">
        <span class="cuartos-span">Servicios:</span>
        <button class="cuartos-add">Agregar</button>
        <!-- Aqui se mostrara la logica de Servicios -->
    </div>
    <div class="cuartos-inf">
        <label for="inf">Información adicional</label>
        <textarea rows="8" placeholder="Escriba aquí"[(ngModel)]="inmueble.descripcion" name="descripcion"></textarea>
        <div class="cuartos-btn">
            <button type="button" class="btn btn-bold">B</button>
            <button type="button" class="btn btn-italic">I</button>
            <button type="button" class="btn btn-underline">U</button>
        </div>
    </div>
    <button type="submit" class="save-btn" (click)="Guardar()">Guardar cambios</button>
</div>