@font-face {
    font-family: 'Just Another Hand';
    src: url('/assets/font/Just_Another_Hand/JustAnotherHand-Regular.ttf');
}

@font-face {
    font-family: 'Public Sans Variable';
    src: url('/assets/font/Public_Sans/PublicSans-VariableFont_wght.ttf'),
        url('/assets/font/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Londrina Solid';
    src: url('/assets/font/Londrina_Solid/LondrinaSolid-Black.ttf'),
        url('/assets/font/Londrina_Solid/LondrinaSolid-Light.ttf'),
        url('/assets/font/Londrina_Solid/LondrinaSolid-Regular.ttf'),
        url('/assets/font/Londrina_Solid/LondrinaSolid-Thin.ttf');
}

@font-face {
    font-family: 'Kadwa';
    src: url('assets/font/Kadwa/Kadwa-Regular.ttf'),
        url('assets/font/Kadwa/Kadwa-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('assets/font/Inter/Inter_28pt-Thin.ttf'),
        url('assets/font/Inter/Inter_28pt-ExtraLight.ttf'),
        url('assets/font/Inter/Inter_28pt-Light.ttf'),
        url('assets/font/Inter/Inter_28pt-Regular.ttf'),
        url('assets/font/Inter/Inter_28pt-Medium.ttf'),
        url('assets/font/Inter/Inter_28pt-SemiBold.ttf'),
        url('assets/font/Inter/Inter_28pt-Bold.ttf'),
        url('assets/font/Inter/Inter_28pt-ExtraBold.ttf'),
        url('assets/font/Inter/Inter_28pt-Black.ttf');
}
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    min-height: 100vh;
}
