<section class="offer">
    <header class="offer__header">
        <div class="offer__header--left"></div>
        <div class="offer__header--main">
            <img class="offer__header--before" src="/assets/img/offer/header/before-header-offer.png" alt="">
            <h1>¡¡¡ALQUILA AL MEJOR PRECIO!!!</h1>
            <img class="offer__header--after" src="/assets/img/offer/header/after-header-offer.png" alt="">
        </div>
        <div class="offer__header--right"></div>
    </header>
    <div class="offer__content">
        <img class="offer__content--after" src="/assets/img/offer/content/airplane-content-offer.webp" alt="">
        <img class="offer__content--before" src="/assets/img/offer/content/honeycomb-content-offer.webp" alt="">
        <article class="motivator">
            <div class="motivator__title">
                <img class="motivator__title--border-top" src="/assets/img/offer/content/top-border-content-offer.png" alt="">
                <img class="motivator__title--border-bottom" src="/assets/img/offer/content/bottom-border-content-offer.png" alt="">
                <h3>Encuentra el Espacio<br>Perfecto para Ti</h3>
            </div>
            <img class="motivator__img" src="/assets/img/offer/content/girl-content-offer.webp" alt="mujeres motivadoras">
            <span class="motivator__phrase">Alquiler de habitaciones cómodas y accesibles</span>
        </article>
        <div class="divider"></div>
        <main class="carousel">
            <img class="carousel__icon--left" src="/assets/img/offer/content/arrow-left.svg" alt="">
            <div>
                <div class="carousel__content">
                    <div class="carousel__item">
                        <app-department-card></app-department-card>
                    </div>
                    <div class="carousel__item">
                        <app-department-card></app-department-card>
                    </div>
                </div>
                <ul class="timer">
                    <li class="timer__item active"></li>
                    <li class="timer__item"></li>
                    <li class="timer__item"></li>
                </ul>
            </div>
            <img class="carousel__icon--right" src="/assets/img/offer/content/arrow-right.svg" alt="">
        </main>
    </div>
</section>
