footer{
    position: relative;
    background: linear-gradient(#000D2D 10%, #142346);
    color: #fff;
    padding: 20px 180px;
    box-sizing: border-box;
    font-family: 'Inter';
    display: flex;
}

.component{
    width: 240px;
    padding: 20px;
    display: inline-block;
    align-items: center;
    margin: 0 40px;
    justify-content: center;
}

a{
    border: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

h2{
    font-size: 16px;
    font-weight: 600;
}

h3{
    font-size: 16px;
    margin: 8px 0;
    font-weight: 500;
    display: block;
}